.card-style{
    width: 18rem;
    background-color: #444444;
}

.no_scroll {
  overflow-x: hidden;
}

.mb-10{
    margin-bottom: 70px;
}

.mt-10{
  margin-top: 70px;
}

.mr-10{
  margin-right: 100px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.zoom {
    transition: transform .2s;
  }
  
.zoom:hover {
    z-index: 1000;
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
    border-width: 2px;
    border-color: black;
  }
.option_Style{
    max-width: 250px !important; 
    background-color: grey;
}

.hov:hover {
  z-index: 1000;
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1); 
  border-width: 1px;
  border-color: black;
}

.newbg {
  background-image: url(/data/newBG/currency.svg);
  background-size: auto 100%;
}

.newfooter {
  background-image: url(/data/newBG/Rectangle\ last\ page\ footer.svg);
}


@font-face {
  font-family: "Oswald"; 
  src: url("//db.onlinewebfonts.com/t/d40bbce8f4b00a569beac2454b69231e.eot");
}

@font-face {
  font-family: "Century Gothic"; 
  src: url("//db.onlinewebfonts.com/t/0d78b12d6be09203d1fbeb76871a369a.eot");
}

.copyRight {
  background-image: url(/data/newBG/©\ Copyright\ Green\ Stone\ 2021.svg);
}

.context {
  font-family:"Century Gothic";
}

p {
  color: white;
  font-family:"Century Gothic";
}

.heading {
  font-family: "Oswald";
}

h1,h2,h3,h4,h5,label {
  color: white;
  font-family: "Oswald";
}

.newbtn {
  background: transparent; 
  border: none; 
  outline: none;
}


input {
  background-color: transparent;
  background: transparent;
}

td {
  min-width: 120px;
}
