.card-style{
    width: 18rem;
    background-color: #444444;
}

.no_scroll {
  overflow-x: hidden;
}

.mb-10{
    margin-bottom: 70px;
}

.mt-10{
  margin-top: 70px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.zoom {
    transition: transform .2s;
  }
  
.zoom:hover {
    z-index: 1000;
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
    border-width: 2px;
    border-color: black;
  }
.option_Style{
    max-width: 250px !important; 
    background-color: grey;
}

.hov:hover {
  z-index: 1000;
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1); 
  border-width: 1px;
  border-color: black;
}

.newbg {
  background-image: url(./newBG/currency.svg);
  background-size: auto 100%;
}

.newfooter {
  background-image: url(./newBG/Rectangle\ last\ page\ footer.svg);
}


@font-face {
  font-family: "Oswald"; 
  src: url("//db.onlinewebfonts.com/t/d40bbce8f4b00a569beac2454b69231e.eot");
}

@font-face {
  font-family: "Century Gothic"; 
  src: url("//db.onlinewebfonts.com/t/0d78b12d6be09203d1fbeb76871a369a.eot");
}

.copyRight {
  background-image: url(./newBG/©\ Copyright\ Green\ Stone\ 2021.svg);
}

.context {
  font-family:"Century Gothic";
}

p {
  font-family:"Century Gothic";
}

.heading {
  font-family: "Oswald";
}

h1,h2,h3,h4,h5 {
  font-family: "Oswald";
}

.newbtn {
  background: transparent; 
  border: none; 
  outline: none;
}

/* OUTER CONTAINER */
.tcontainer {
  width: 100%;
  overflow: hidden; /* Hide scroll bar */
}
 
/* MIDDLE CONTAINER */
.ticker-wrap {
  width: 100%;
  padding-left: 100%; /* Push contents to right side of screen */
  background-color: #444444;
}

/* INNER CONTAINER */
@keyframes ticker {
  0% { transform: translate3d(0, 0, 0); }
  100% { transform: translate3d(-100%, 0, 0); }
}
.ticker-move {
  /* Basically move items from right side of screen to left in infinite loop */
  display: inline-block;
  white-space: nowrap;
  padding-right: 100%;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: ticker;
  animation-duration: 10s;
}
.ticker-move:hover{
  animation-play-state: paused; /* Pause scroll on mouse hover */
}

/* ITEMS */
.ticker-item{
  display: inline-block; /* Lay items in a horizontal line */
  padding: 0 2rem;
}
